* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
    line-height: inherit;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* Spacing */
.my-2 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.my-5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mt-5 {
    margin-top: 4rem;
}

.mt-4{
    margin-top: 2.5rem;
}

.mt-2{
    margin-top: 1rem;
}

.mt-1 {
    margin-top: .75rem;
}

/* Button */
.btn {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: .35rem;
    border: 2px solid;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--white);
}

/* thypography */

.text-primary{
    color: var(--secondary-color);
}

.text-blue {
    color: var(--blue);
}

.text-xl{
    font-size: 3rem;
    line-height: 1;
}

.text-lg{
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-md{
    font-size: 1.125rem;
    line-height: 1.625;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.fw-bold{
    font-weight: 700;
}

.fw-regular{
    font-weight: 400;
}

.leading-relaxed {
    line-height: 1.625;
}

/* alignment */
.text-center {
    text-align: center;
}

/* width column */
.mw-56{
    max-width: 56rem;
}


