.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__center,.header__right{
    display: none;
}

@media all and (min-width: 991px) {
    .header__center, .header__right{
        display: block;
    }
}

.navbar__nav {
    list-style: none;
    display: flex;
    gap: 2.5rem
}

.cta__menu {
    display: flex;
    gap: .75rem;
    align-items: center;
}