.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
}

.wrapper .container {
    text-align: center;
}

.title_container {
    margin: 20px 20px;
}

.card_container {
    display: flex;
    width: 100%;
    gap: 30px
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2%;
    flex-basis: calc(33% - 20px);
    padding: 25px;
}

.card ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container p {
    color: black;
}

.card ul li svg {
    height: 24px;
}

